interface/src/main/java/ParentServiceSchema.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://java" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="request" type="xs:string" />
    <xs:complexType name="response">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="email" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>